In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsRegressor

In [9]:
train_df = pd.read_csv('Co2 New.csv')
train_df.sample(5)

,country,year,co2,co2_growth_prct,co2_per_capita,cumulative_co2,coal_co2,cement_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita,trade_co2_share,population
7326,North Korea,2005,74.920,4.46,3.134,4452.422,69.796,2.248,0.000,0.000,2.876,0.000,0.094,2.920,0.000,0.000,0.120,0.000,0.00,23904167
1167,Bhutan,1988,0.110,7.14,0.216,0.557,0.048,0.000,0.000,0.000,0.062,0.000,0.000,0.094,0.000,0.000,0.122,0.000,0.00,509532
5022,Japan,1979,953.071,5.71,8.155,18334.346,190.938,41.985,0.099,40.890,679.159,0.000,0.359,1.634,0.001,0.350,5.811,0.000,0.00,116867356
665,Austria,1992,60.236,-8.37,7.692,3579.204,14.386,2.105,0.120,12.511,30.152,0.962,0.269,1.837,0.015,1.598,3.850,0.123,52.13,7830938
6311,Mayotte,1997,0.122,4.78,0.908,0.756,0.000,0.000,0.000,0.000,0.122,0.000,0.000,0.000,0.000,0.000,0.908,0.000,0.00,134206

In [10]:


# Select only relevant features
X = train_df[['coal_co2', 'cement_co2', 'flaring_co2', 'gas_co2', 'oil_co2' , 'year']]
y = train_df['co2']

# Train the KNN model
knn = KNeighborsRegressor(n_neighbors=5)
knn.fit(X, y)

# Make predictions on the test set
y_pred = knn.predict(X_test)

In [11]:
print(X_test)
print(y_pred)

      coal_co2  cement_co2  flaring_co2  gas_co2  oil_co2  year
307      0.000       0.000        0.000    0.000    0.004  2002
6971     2.955       0.033        0.000    0.000    2.798  2018
1735     0.000       0.411        0.000    0.000    3.440  2004
8999    20.525       1.215        0.027   13.289    8.128  1997
4982     0.000       0.121        0.000    0.000    4.921  1985
...        ...         ...          ...      ...      ...   ...
5500     0.502       1.631        0.000    0.000   13.333  2000
2663    10.079       0.871        0.217    8.414   19.920  2012
7747     0.000       0.000        0.000    0.000    1.931  1981
8324     0.000       0.000        0.000    0.000    0.000  2006
2151     0.000       0.000        0.000    0.000    0.165  2006

[2184 rows x 6 columns]
[1.4000e-03 5.6288e+00 3.9242e+00 ... 1.9874e+00 0.0000e+00 1.6480e-01]

In [7]:
train_df

,country,year,co2,co2_growth_prct,co2_per_capita,cumulative_co2,coal_co2,cement_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita,trade_co2_share,population
0,0,1975,2.121,10.88,0.167,21.287,0.399,0.069,0.304,0.476,0.874,0.0,0.006,0.031,0.024,0.038,0.069,0.0,0.00,12689164
1,0,1976,1.981,-6.62,0.153,23.267,0.425,0.079,0.293,0.300,0.883,0.0,0.006,0.033,0.023,0.023,0.068,0.0,0.00,12943093
2,0,1977,2.384,20.36,0.181,25.652,0.451,0.065,0.381,0.513,0.975,0.0,0.005,0.034,0.029,0.039,0.074,0.0,0.00,13171294
3,0,1978,2.153,-9.68,0.161,27.805,0.576,0.058,0.283,0.301,0.936,0.0,0.004,0.043,0.021,0.023,0.070,0.0,0.00,13341199
4,0,1979,2.233,3.69,0.166,30.038,0.352,0.064,0.267,0.385,1.165,0.0,0.005,0.026,0.020,0.029,0.087,0.0,0.00,13411060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10913,243,2016,10.738,-12.17,0.765,736.467,6.959,0.639,0.000,0.000,3.139,0.0,0.046,0.496,0.000,0.000,0.224,0.0,13.18,14030338
10914,243,2017,9.582,-10.77,0.673,746.049,5.665,0.678,0.000,0.000,3.239,0.0,0.048,0.398,0.000,0.000,0.228,0.0,17.39,14236599
10915,243,2018,11.854,23.72,0.821,757.903,7.101,0.697,0.000,0.000,4.056,0.0,0.048,0.492,0.000,0.000,0.281,0.0,11.04,14438812
10916,243,2019,10.949,-7.64,0.748,768.852,6.020,0.697,0.000,0.000,4.232,0.0,0.048,0.411,0.000,0.000,0.289,0.0,13.45,14645473
10917,243,2020,10.531,-3.82,0.709,779.383,6.257,0.697,0.000,0.000,3.576,0.0,0.047,0.421,0.000,0.000,0.241,0.0,0.00,14862927